{% if business.name %}
<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "LocalBusiness",
	{% if business.description %}"description": {{ business.description | json }},{% endif %}
	{% if business.telephone %}"telephone": {{ business.telephone | json }},{% endif %}
	{% if business.image %}"image": {{ business.image | json }},{% endif %}
	{% if business.address %}"address": {
		"@type": "PostalAddress",
		{% if business.address.streetAddress %}"streetAddress": {{ business.address.streetAddress | json }},{% endif %}
		{% if business.address.addressLocality %}"addressLocality": {{ business.address.addressLocality | json }},{% endif %}
		{% if business.address.addressRegion %}"addressRegion": {{ business.address.addressRegion | json }},{% endif %}
		{% if business.address.postalCode %}"postalCode": {{ business.address.postalCode | json }},{% endif %}
		"addressCountry": {{ business.address.addressCountry | json }}
	},{% endif %}
	{% if business.sameAs %}"sameAs": [{% for url in business.sameAs %}{{ url | json }}{% if not forloop.Last %},{% endif %}{% endfor %}],{% endif %}
	"name": {{ business.name | json }},
	"url": {{ site.base_url | json }}
}
</script>
{% endif %}
